<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Youtube Test Suite" parallel="tests" thread-count="2">
	<test name="Chrome Test">
		<parameter name="browser" value="chrome"></parameter> <!-- 'Parameter' tag is added in 'test' tag as it's related to the tests inside it-->
		<classes>
			<class name="tests.SearchVideoTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Firefox Test" > 
		<parameter name="browser" value="firefox"></parameter> 
		<classes>
			<class name="tests.SearchVideoTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->